# Virtual Environment
venv/

# Python
__pycache__/
*.py[cod]
*.pyo

# Django
db.sqlite3
media/
staticfiles/

# VS Code
.vscode/

logs/*.log
!logs/.gitkeep

employees/logs/*.log
!employees/logs/.gitkeep
# Environment
.env

# OS Files
.DS_Store
Thumbs.db
